.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}
body{
  background-color: lightblue;
}
.side-bar {
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(0, 183, 255, 0.366);
  display: flex;
}
.list {
  width: 50%;
  height: 5px;
  margin: 40px;
  transform: translateX(0px);
  transition: 0.5s;
  opacity: 0;
  animation: list;
}
.hamburger {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  margin-left: 20px;
}
.top {
  width: 35px;
  height: 5px;
  background-color:#fff;
}
.top:hover {
  transform: rotate(45deg);
  transition: 0.5s;
}
.middle {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin-top: 20%;
}
.input:checked + .hamburger > .top {
  margin-top: 20px;
  transform: rotate(45deg) translateY(-6px);
  transition: 0.5s;
}
.bottom {
  width: 35px;
  height: 5px;
  background-color: white;
  margin-top: 20%;
}
.input:checked + .hamburger > .bottom {
  margin-top: -13px;
  transform: rotate(-45deg) translateY(6px);
  transition: 0.5s;
}
.input:checked + .hamburger > .middle {
  display: none;
  transition: 0.5s;
}
.input:checked + .hamburger + .para1 {
  transform: translateX(20%);
  opacity: 1;
}
.input:checked + .hamburger + .para2 {
  transform: translateX(20%);
  opacity: 1;
}
.input:checked + .hamburger + .list {
  transform: translateX(20%);
  opacity: 1;
}
.input {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.para1 {
  width: 0% ;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 1s;
}
.para2 {
  width: 0% ;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.para3 {
  width: 0% ;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.para1:hover {
  width: 50%;
  border-color: white;
}
.para2:hover {
  width: 50%;
  border-color: white;
}
.para3:hover {
  width: 50%;
  border-color: white;
}
.arap1{
  transform:translateX(20%) ;
  transition: 0.5s;
}
.arap2{
  transform:translateX(20%) ;
  transition: 0.5s;
  transition-delay: 1s;
}
.arap3{
  transform:translateX(20%) ;
  transition: 0.5s;
  transition-delay: 2s;
}
/* @keyframes list {
  0%{ 
    background-color: grey;
    transform: 10px;
  }
  25%{
    background-color: gray;
    transition: 20px;
  }
  50%{
    background-color: azure;
    transition: 30px;
  }
  75%{
    background-color: #fff;
    transition: 45px;
  }
  100%{
    background-color: white;
    transition: 60px;
  } */
