.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}
.side-bar {
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(0, 183, 255, 0.366);
  display: flex;
}
.list {
  width: 50%;
  height: 5px;
  margin: 40px;
  transform: translateX(0px);
  transition: 0.5s;
  opacity: 0;
}
.hamburger {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  margin-left: 20px;
}
.top {
  width: 35px;
  height: 5px;
  background-color:#fff;
}
.top:hover {
  transform: rotate(45deg);
  transition: 0.5s;
}
.middle {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin-top: 20%;
}
.input:hover + .hamburger > .top {
  margin-top: 20px;
  transform: rotate(45deg) translateY(-6px);
  transition: 0.5s;
}
.bottom {
  width: 35px;
  height: 5px;
  background-color: white;
  margin-top: 20%;
}
.input:hover + .hamburger > .bottom {
  margin-top: -13px;
  transform: rotate(-45deg) translateY(6px);
  transition: 0.5s;
}
.input:hover + .hamburger > .middle {
  display: none;
  transition: 0.5s;
}
.input:checked + .hamburger + .list {
  transform: translateX(20%);
  opacity: 1;
}
.input {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.para1:hover {
  width: 50%;
  border-top: 2px solid white;
  border-bottom: 2px solid white; 
}
.para2:hover {
  width: 50%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.para3:hover {
  width: 50%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
